*{box-sizing: border-box}
body{
  background: linear-gradient(to right, #334d50, #cbcaa5);
}
            
.container{width: 300px;
           overflow: hidden;
           margin: 50px auto 0 auto;
         }

.container span{width: 100%;
                display: block;
                text-align: center;
                font-family: sans-serif;
                color: #fff;
                font-size: 25px;
                background: #334d50;
               }

.container .box{float: left;
                width: 100px;
                height: 100px;
                border: 1px solid #000;
                transition: all .25s ease-in-out;
                font-family: sans-serif; 
                font-size: 85px;
                text-align: center;
                line-height: 100px; 
                cursor: pointer;
              }

.container .box:hover{background: rgba(10,10,10,0.5);
                      color: #fff
                     }

button{background: #334d50;
       color: #fff;
       font-weight: bold;
       border: 1px solid black;
        cursor: pointer; 
        width: 140px;
        height: 40px; 
        font-size: 18px;
        display: block;
        margin :10px;
        }

.container-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.win{background: #cbcaa5; color: #334d50}